body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.iphone{
  text-align: center;
  color:black;
  font-size: 40px;
}
.iphone1{
  text-align: center;
  color: black;
  margin:0px;
}
.iphone2{
  text-align: center;
  color: dimgrey;

}
.iphone3{
  margin-left: 550px;
  text-align: center;
  
}

.dem{
  background-color: black;
height: 560PX;
width: 200;
}
.dem1{
  padding: 35px;
  text-align: center;
  color: white;
  font-size: 40px;


}
.dem2{
  color: white;
  text-align: center;
  /* margin-top: 50px; */
  /* margin:50px */
}

.dem{
  text-align: center;
  color:dimgrey ;
}



.top{
  /* background-color: slategrey; */
  text-align: center;
font-size: 20px;
}
.top1{
  text-align: center;
  font-size: 15px;
}
.top2{
  text-align: center;
  color: dimgrey;
}
.top3{
  margin-left: 500px;
}
.som{
   background-color: black;
}
.som1{
  text-align: center;
  font-size:40px ;
  padding: 35PX;
  color: white;
}
.som2{
 /* text-align: center; */
 margin-left: 450px;
  height: 450px;
  width: 400px;
}
.som3{
  text-align: center;
  color: white;
}
.singles{
  text-align: center;
  color: black;
  font-size: 40px;

}
.singles1{
  text-align: center;
  color: black;
}
.singles2{
  margin-left: 400px;
  height: 500px;
  width: 600px;
}
.moke{
  padding: 35px;
  text-align: center;
  color: black;
  /* display: flex; */
  font-size: 35px;
 
}
.moke1{
  text-align: center;
  color:orangered ;

}
.moke2{
  text-align: center;
  color:black;
}

.moke3{
  margin-left: 500px;
  display: flex;
  font-size: 30px;
}
.mann{
  background-color: black;
  height: 450px;
  width: auto;

}
.man{
  text-align: center;
  padding: 35px;
  color: white;
  font-size: 40px;
  
}
.man1{
  text-align: center;
  color: red;

}
.man2{
  text-align: center;
color: white;

}
.man3{
  margin-left: 500px;
  display: flex;
}
.pox{
margin-top:5px;
background-color: black;
/* height:8000px; */


}

.pox1{
  text-align: center;
  padding:35px;

  font-size: 40px;
  color: white;
  }
  .pox2{
text-align: center;
color: white;

  }
  .pox3{
    margin-left: 100px;
  }

  .stark{
    background-color: white;
  }
  .stark1{
    text-align: center;
    color: black;
        padding: 35px;
        font-size: 35px;

  }

  .stark2{
text-align: center;
color: black;
  }
  

  .stark3{
    margin-left: 50px;
    background-color:mistyrose

    /* color: pink,fuchsia; */
  }


  .apple-header{

    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    background: #313132 !important;

}

.apple-nav{

    margin: 0 auto;

    max-width: 980px;

    padding: 0 22px;

    position: relative;

    z-index: 2;

    padding-left: max(22px,env(safe-area-inset-left));

    padding-right: max(22px,env(safe-area-inset-right));

    display: flex;

    justify-content: space-between;

    align-items: center;


}

.apple-nav a{

    display: inline-block;

    padding: 15px 0;

    color: #949494;

    font-size: 12px;

    transition: 0.3s;

}

.apple-nav a:hover{

   color:  #d7d7d7 !important;

}

.menu-bars{

    display: none !important;

}

@media(max-width:992px){

    .apple-nav{

        margin: 0 auto;

        max-width: 980px;

        padding: 0 20px;

        padding-left: max(20px,env(safe-area-inset-left));

        padding-right: max(20px,env(safe-area-inset-right));

    

    }

}

@media(max-width:831px){

    .apple-nav{

        display: none;

    }

    .mobi-none{

        display: none;

       

    }

    .mobi-view{

        position: fixed;

        top: 0;

        left: 0;

        right: 0;

        background-color: #000;

        border-bottom: 1px solid #424245;

    }

    .menu-bars{

        display: block !important;

        font-size: 18px;

        color: #ddd;

    }

    .active-menu{

        display: block !important;

       

    }

    .mobile-nav{

        z-index: 9999 !important;

        height: 100vh;

        display: flex;

        flex-direction: column;

        position: relative;

        top: 80px;

        background-color: #000;

        overflow: auto;

 

    }

    .mobi-nav{

        display: flex;

        justify-content: space-between;

        align-items: center;

        padding: 10px 15px;

    }

    .mobile-nav a{

        width: 70%;

        margin: 0 auto;

        display: block !important;

        text-align: left;

        border-bottom: 1px solid #424245;

        font-size: 17px;

       

    }

    .nav-search{

        border-bottom: 1px solid transparent !important;

        width: 70%;

        margin: 8px auto;

        background: #1d1d1f;

        border-radius: 10px;

        display: none;

        padding: 8px 15px !important;

    }

    .nav-search input{

        width: 90%;

        margin: 0 auto;

        background: transparent;

        padding-left: 15px;

        border: none;

        outline: none;

        color: #d7d7d7;

    }

}


 /* //// */
 .slider{

  text-align: center;

  position: relative;

}

.slider-img{

  width: 100%;

  height: 400px;

}

.slider-img img{

  width: 100%;

  height: 100%;

}

.arrowBtn{

  font-size: 32px;

  color: white;

}

.inactive{

  display: none;

}

.slides{

  position: relative;

  height: 400px;

  /* max-width: 600px; */

  z-index: -1;

  width: 100%;

}

.slides-image{

  width: 100%;

  height: 100%;

  position: absolute;

  object-fit: cover;

}

.active{

  display: inline-block;

}

.prev,.next{

  cursor: pointer;

  z-index: 111;

  position: absolute;

  top: 40%;

  width: auto;



}

.next{

  right: 40px;

}

.prev{

  left: 80px;

}

.all-dots{

  width: 100%;

  height: 100%;

  display: flex;

  justify-content: right;

  align-items: center;

  padding-top: 20px;



 

}

.dot{

  cursor: pointer !important;

  height: 12px;

  width: 12px;

  margin: 0 3px;

  background: #fafafa;

  border-radius: 100%;

  display: inline-block;

  z-index: 99;

}

.active-dot{

  background: crimson;

  transition: all 0.3s;

}



.caption{

  position: absolute;

  bottom: 20px;

  left: 50%;

}



 





